In [75]:
import pandas as pd
import scipy.stats
import math

In [69]:
# Load and preprocess data
df = pd.read_csv('Kohli.csv')
df = df[df['Dismissal'] != 'not out']
df = df[df['Dismissal'] != '-']

#change the data type of runs to int
df['Runs'] = df['Runs'].astype(int) 
df

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Date,ODI #
0,12,33,22,1,0,54.54,2,lbw,1,v Sri Lanka,Dambulla,18-Aug-08,ODI # 2742
1,37,82,67,6,0,55.22,2,caught,2,v Sri Lanka,Dambulla,20-Aug-08,ODI # 2745
2,25,40,38,4,0,65.78,1,run out,1,v Sri Lanka,Colombo (RPS),24-Aug-08,ODI # 2750
3,54,87,66,7,0,81.81,1,bowled,1,v Sri Lanka,Colombo (RPS),27-Aug-08,ODI # 2755
4,31,45,46,3,1,67.39,1,lbw,2,v Sri Lanka,Colombo (RPS),29-Aug-08,ODI # 2756
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,0,4,5,0,0,0,3,caught,1,v South Africa,Paarl,21-Jan-22,ODI # 4346
256,65,112,84,5,0,77.38,3,caught,2,v South Africa,Cape Town,23-Jan-22,ODI # 4349
257,8,6,4,2,0,200,3,caught,2,v West Indies,Ahmedabad,6-Feb-22,ODI # 4353
258,18,42,30,3,0,60,3,caught,1,v West Indies,Ahmedabad,9-Feb-22,ODI # 4355
259,0,2,2,0,0,0,3,caught,1,v West Indies,Ahmedabad,11-Feb-22,ODI # 4356

In [180]:
n = 30
alpha = 0.05
h0 = df['Runs'].mean() # Null Hypothesis --> Average is equal to 43.23
samp_data = df.sample(n)

In [181]:
h1 = samp_data['Runs'].mean() # Alternate Hypothesis --> Avg is different
samp_SD = samp_data['Runs'].std()
SE = samp_SD/math.sqrt(n)
t = (H1-H0)/SE
p = scipy.stats.t.sf(abs(t), df=n-1)*2

In [182]:
print('p-value = ' + str(round(p, 2)))
print('p-value = ' + str(round(p*100, 2)) + '%')

if p < alpha:
    print('Reject the Null Hypothesis as the p-value of sample data is less than the 5% (0.05) level of significance')
else:
    print('Do not reject the Null Hypothesis. P-value is greater than or equal to alpha (5% or 0.05)')

p-value = 0.49
p-value = 48.94%
Do not reject the Null Hypothesis. P-value is greater than or equal to alpha (5% or 0.05)